.title{
    font-size: 5em;
    color: #feb800;
}
.boxMaster {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 20px;
    margin-top: -5%;
}

.box {
    width: 29%;
    height: 60vh;
    background-color: #feb800;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.texth1{
    color: #000;
    font-size: 2.5em;
}
.textValor {
    margin-top: -5%;
    color: #000;
    font-size: 2.3em;
}
.textValor span {
    color: #000;
    font-size: 2em;
}
.textmes{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-top: -10%;
}

.btnContratar{
    background-color: #000;
    border-radius: 10px ;
    padding: 20px, 5px;
    font-size: 1.5em;
    box-shadow: 7px 7px 9px #000;
    margin-top: 5%;
}
.textmensalidade{
    color: #000;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
}