.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: url('/academia-bg.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 999;
  position: relative;
}

.boxSobre {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  animation: slideInRight 1s ease-out forwards;
}

.boxIcone {
  background-color: black;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 99;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.boxIcone img {
  width: 60%;
  height: 60%;
  filter: brightness(0) invert(1);
}

.boxTexto {
  background-color: #feb800;
  border-radius: 20px;
  padding: 10px 20px;
  flex: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -4%;
}

.boxTexto h2,
.boxTexto p {
  margin: 0;
  font-size: 1em;
  font-family: "Anton", sans-serif;
  color: black;
  margin-left: 1%;
}
